<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>argentina</title>
</head>
<body>
    <header>
        <ul>
            <li>messi</li>
            <li>maradona</li>
            <li>Di maria</li>
        </ul>
    </header>
    <main>
        <h1>historia de argentina</h1>
        <p>La historia de Argentina comprende la época prehispánica, la conquista española que culminó en la creación del Virreinato del Río de la Plata en 1776, el proceso de independencia que comenzó con la Revolución de Mayo en 1810 y se consolidó con la declaración de independencia en 1816, la organización del Estado federal y la formación del país moderno desde 1880, y su desarrollo como nación con fuerte inmigración y diversidad cultural. </p>
    </main>
    <footer>derecho reservados</footer>&copy;
</body>
</html>