<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brasil</title>
</head>
<body>
    <header>
        <ul>
            <li>ronaldo</li>
            <li>ronaldhiño</li>
            <li>neymar</li>
        </ul>
    </header>
    <main>
        <h1>historia de brasil</h1>
        <p>La historia de Brasil inicia con pueblos indígenas, a partir del 9000 a.C., hasta la llegada de los colonizadores portugueses en 1500. Brasil fue una colonia portuguesa hasta 1822, año en que se independizó para convertirse en el Imperio de Brasil, que en 1889 dio paso a la Primera República brasileña. El país experimentó la esclavitud, que fue abolida en 1888, y dos periodos de dictadura militar.  </p>
    </main>
    <footer>derecho reservados</footer>&copy;
</body>
</html>