<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colombia</title>
</head>
<body>
    <header>
        <ul>
            <li>falcao</li>
            <li>james</li>
            <li>cuadrado</li>
        </ul>
    </header>
    <main>
        <img src="{{url_for('static',filename='img/colombia.jpeg')}}" alt="">
        <h1>historia de colombia</h1>
        <p>La historia de Colombia inicia con pueblos indígenas como los Muiscas y Quimbayas. En 1499 llegaron los españoles, creando el Virreinato de la Nueva Granada y explotando el oro. Tras la Independencia en 1819, se creó la Gran Colombia, que se desintegró en 1830, dando origen a varias naciones. Colombia tuvo varias formas de gobierno federal hasta la República de Colombia en 1886. Desde entonces, ha enfrentado violencia y conflictos armados, mientras que la Constitución de 1991 consolidó un país diverso con identidades regionales y culturales. </p>
    </main>
    <footer>derecho reservados</footer>&copy;
</body>
</html>