<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combarranquilla</title>
</head>
<body>
    <section id="brasil">
        <header>
            <ul>
                <li>ronaldo</li>
                <li>ronaldhiño</li>
                <li>neymar</li>
            </ul>
        </header>
        <main>
            <h1>historia de brasil</h1>
            <p>La historia de Brasil inicia con pueblos indígenas, a partir del 9000 a.C., hasta la llegada de los colonizadores portugueses en 1500. Brasil fue una colonia portuguesa hasta 1822, año en que se independizó para convertirse en el Imperio de Brasil, que en 1889 dio paso a la Primera República brasileña. El país experimentó la esclavitud, que fue abolida en 1888, y dos periodos de dictadura militar.  </p>
        </main>
        <footer>derecho reservados</footer>&copy;
    </section>
    <section id="colombia">
    <header>
        <ul>
            <li>falcao</li>
            <li>james</li>
            <li>cuadrado</li>
        </ul>
    </header>
    <main>
        <h1>historia de colombia</h1>
        <p>La historia de Colombia inicia con pueblos indígenas como los Muiscas y Quimbayas. En 1499 llegaron los españoles, creando el Virreinato de la Nueva Granada y explotando el oro. Tras la Independencia en 1819, se creó la Gran Colombia, que se desintegró en 1830, dando origen a varias naciones. Colombia tuvo varias formas de gobierno federal hasta la República de Colombia en 1886. Desde entonces, ha enfrentado violencia y conflictos armados, mientras que la Constitución de 1991 consolidó un país diverso con identidades regionales y culturales. </p>
    </main>
    <footer>derecho reservados</footer>&copy;
    </section>

    <section id="argentina">
    <header>
        <ul>
            <li>messi</li>
            <li>maradona</li>
            <li>Di maria</li>
        </ul>
    </header>
    <main>
        <h1>historia de argentina</h1>
        <p>La historia de Argentina comprende la época prehispánica, la conquista española que culminó en la creación del Virreinato del Río de la Plata en 1776, el proceso de independencia que comenzó con la Revolución de Mayo en 1810 y se consolidó con la declaración de independencia en 1816, la organización del Estado federal y la formación del país moderno desde 1880, y su desarrollo como nación con fuerte inmigración y diversidad cultural. </p>
    </main>
    <footer>derecho reservados</footer>&copy;
    </section>
</body>
</html>