<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro  de Usuarios</h1>
    <form method="post">
            <label for="">Nombre</label>
            <input type="text" name="nombre" id="" required><br><br>

            <label for="">Correo Electronico</label>
            <input type="email" name="correo" id="" required><br><br>

            <input type="submit" value="Enviar">
    </form>
</body>
</html>