<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Registro  de Sumas</h1>
    <form method="post">
            <label for="">Primer numero</label>
            <input type="number" name="primero" id="" required><br><br>

            <label for="">Segundo Numero</label>
            <input type="number" name="segundo" id="" required><br><br>
            <label for="">total</label>
            <p>total:{{total}}</p>

            <input type="submit" value="Enviar">
    </form>
</body>
</html>